/* RTL-specific overrides */
.rtl {
  direction: rtl;
  text-align: right;
}

.rtl .space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

.rtl .space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

.rtl .space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

/* Flip icons that indicate direction */
.rtl .icon-directional {
  transform: scaleX(-1);
}

/* Fix margin/padding direction */
.rtl .ml-auto {
  margin-left: unset;
  margin-right: auto;
}

.rtl .mr-auto {
  margin-right: unset;
  margin-left: auto;
}
